Day 11 - Abandoned Cart Recovery.json
{
  "name": "Day 11 - Abandoned Cart Recovery",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "checkouts/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ee8c9bc2-dcbf-4c07-8bb6-43af3285110b",
      "name": "Shopify Trigger",
      "webhookId": "4c414139-f87c-49c2-ac5b-430b607b14fd",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "LSpIUgiDLF7yhtSr",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "fb1190ae-e18b-421e-8893-9bd1a4246ad3",
      "name": "Wait",
      "webhookId": "61a24fdb-1f0c-4124-985b-63b9c22ad351"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer.email }}",
        "subject": "=You left something behind, {{ $json.customer.first_name }}!",
        "message": "=Hi {{ $json.customer.first_name }},  You left some items in your cart. Here's what's waiting for you:  {{ $json.line_items.map(item => '- ' + item.title + ' (x' + item.quantity + ') - $' + item.price).join('\\n') }}  Total: ${{ $json.total_price }}  Complete your purchase here: {{ $json.abandoned_checkout_url }}  Don't miss out!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8bea12c8-af9f-4c3e-ae24-7037b2f6d321",
      "name": "Send a message",
      "webhookId": "af61e6f2-202e-4c0e-b3ae-a69f56f9f8d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "yDttKVRFdqCwmJrZ",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Shopify Trigger": [
      {
        "json": {
          "id": 987654321,
          "abandoned_checkout_url": "https://denmar-test-store.myshopify.com/cart/recover",
          "created_at": "2026-04-28T18:00:00+08:00",
          "customer": {
            "first_name": "Maria",
            "last_name": "Santos",
            "email": "denmarjohnoropel@gmail.com"
          },
          "line_items": [
            {
              "title": "The Collection Snowboard: Hydrogen",
              "quantity": 1,
              "price": "600.00"
            },
            {
              "title": "Selling Plans Ski Wax",
              "quantity": 2,
              "price": "10.00"
            }
          ],
          "total_price": "620.00"
        }
      }
    ]
  },
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "gbFIFYXBBP6oOwrO",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c4cb65a8-4966-49e5-b84d-c48894ee247a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdc7a2e49492375c89a9ffa83c43ef3afb3664143bc58ac105fdfbcf67fc90e1"
  },
  "id": "r41B9Vs07lTHXXWn",
  "tags": []
}